.answer-overlay, .reset-overlay {
    display: none;
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.8);
    color:#fff;
    align-items: center;
    justify-content: center;
    font-size:1.6rem;
    padding: 1rem;

    &--show {
        display:flex;
    }
}

.reset-overlay {
    flex-direction: column;

    p {
        margin-bottom:1rem;
    }

}

p {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom:2rem;
}

.answers-wrapper {
    display:flex; 
    justify-content: space-evenly;
    margin-bottom:2rem;

    .answer {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        label {
            margin-bottom:0.5rem;
        }
    }
}
